common --enable_bzlmod

common --incompatible_enable_cc_toolchain_resolution
common --repo_env USE_HERMETIC_CC_TOOLCHAIN=1

# TODO: Migrate for https://github.com/bazelbuild/bazel/issues/7260
common:clang_local --noincompatible_enable_cc_toolchain_resolution
common:clang_local --@rules_ml_toolchain//common:enable_hermetic_cc=False
common:clang_local --repo_env USE_HERMETIC_CC_TOOLCHAIN=0

common --experimental_repo_remote_exec

# Do not use C-Ares when building gRPC.
common --define=grpc_no_ares=true

common --define=tsl_link_protobuf=true

common --repository_cache=~/.bazel_repository_cache